.circle_no {
  padding: 10px;
  border: solid gray 1px;
  border-radius: 15px;
  color: white;
  background-color: rgb(0, 225, 255);
  display: block;
  margin: auto;
}
nav {
  text-align: center;
  color: aliceblue;
  background-color: rgb(200, 243, 243);
  font-family: 標楷體;
  font-size: 40px;
  border: solid gray 1px;
  border-radius: 5px;
}
.mid {
  display: block;
  margin: auto;
}
p {
  text-align: center;
}
#chuto {
  font-size: 40px;
  color: red;
}
#logo {
  position: fixed;
}
.left {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.anhnen {
  position: relative;
}
.anhde {
  position: absolute;
  top: 100px; /* Điều chỉnh vị trí top của ảnh chèn */
  left: 160px; /* Điều chỉnh vị trí left của ảnh chèn */
  width: 200px; /* Độ rộng của ảnh chèn */
  height: 200px; /* Chiều cao của ảnh chèn */
  z-index: 1; /* Đảm bảo ảnh chèn hiển thị trên ảnh gốc */
}
#cuoitrang {
  font-size: 40px;
}
form {
  font-size: 25px;
  position: relative;
  left: 25%;
  width: 75%;
}
.list {
  background-color: #c0c0c0;
  text-align: center;
  font-size: 20px;
  width: 20%;
  margin-bottom: 3%;
}
#p1 {
  background-color: #c0c0c0;
  height: 20%;
  text-align: center;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropbtn {
  font-family: 標楷體;
  font-size: 30px;
  background-color: #c0c0c0;
  text-align: left;
  padding: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  font-family: 標楷體;
  background-color: #f9f9f9;
  min-width: 160px;
  font-size: 25px;
  text-align: left;
  box-shadow: 0px 8px 12px 0px rgb(0, 0, 0);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 5px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  opacity: 0.5;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #c0c0c0;
}
#lock {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#p1 a:hover {
  color: red;
}
.dropbtn:hover {
  color: red;
}
.anhnen {
  position: relative;
  width: 100%;
}
.anhde {
  position: absolute;
  top: 19px; /* Điều chỉnh vị trí top của ảnh chèn */
  left: 42.5%; /* Điều chỉnh vị trí left của ảnh chèn */
  width: 15%; /* Độ rộng của ảnh chèn */
  height: 50px; /* Chiều cao của ảnh chèn */
  z-index: 1; /* Đảm bảo ảnh chèn hiển thị trên ảnh gốc */
}
.no_under {
  text-decoration: none;
  color: black;
  font-family: 標楷體;
  font-size: 30px;
}
.nen {
  position: relative;
}
.de {
  position: absolute;
  top: 25%; /* Điều chỉnh vị trí top của ảnh chèn */
  left: 25%; /* Điều chỉnh vị trí left của ảnh chèn */
  width: 50%; /* Độ rộng của ảnh chèn */
  height: 50%; /* Chiều cao của ảnh chèn */
  z-index: 1; /* Đảm bảo ảnh chèn hiển thị trên ảnh gốc */
}
